.alertBoard {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  margin: 10px;
}

.alertBox {
  position: relative;
  background: #fff;
  box-shadow: 0px 3px 8px #888888;
  border-radius: 6px;
  width: 100%;
  height: fit-content;
  user-select: none;
  cursor: pointer;
}

.alertTitle {
  position: relative;
  font-size: 14px;
  top: 10px;
  left: 14px;
  text-align: left;
}

.alertDetails {
  position: relative;
  font-size: 12px;
  left: 14px;
  text-align: left;
  width: 270px;
}

.alertTimeBar {
  position: relative;
  width: 300px;
  height: 6px;
  left: 0;
  border-radius: 0 0 6px 6px;

  transition: width 0.2s ease-in;
}