.mainMenu {
  position: absolute;
  width: 100%;
  height: 100%;

  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Menu Panels */

.menuPanel {
  background: #ffffff;
  position: absolute;
  width: 255px;

  padding: 10px 5px 10px 5px;

  box-shadow: 0px 3px 8px #888888;

  border-radius: 12px;

  float: left;

  transition: height 0.2s, width 0.2s;
}

.subMenuPanel {
  background: #ffffff;
  position: absolute;
  width: 255px;

  padding: 10px 5px 10px 5px;

  box-shadow: 0px 3px 8px #888888;

  border-radius: 12px;

  float: left;

  transition: height 0.2s, width 0.2s;

  visibility: hidden;
  opacity: 0;
  transform: translateX(500px);
}

/* Elements */

.menuHeaderPanel {
  position: absolute;
  left: 0;
  top: -45px;
  height: 45px;
  width: 100%;
  user-select: none;
}

.menuHeaderPanel * {
  position: relative;
  margin: 0 2px 0 2px;
  float: left;
}

.menuTitle {
  background: white;
  border-radius: 8px;

  width: calc(100% - 50px);
  height: 35px;

  float: right;
  box-shadow: 0px 2px 8px #888888;

  text-align: center;
  vertical-align: middle;
  line-height: 35px;
  font-size: 18px;
  font-weight: 600;
}

.menuButton {
  background: #ffffff;
  height: 55px;
  width: 245px;

  outline: none;
  border: none;
  border-radius: 10px;

  font-weight: 600;
  font-size: 18px;

  transition: background 0.2s;

  cursor: pointer;
}

.menuButton:hover {
  background: #f0f0f0;
}

.menuButton:active {
  background: #d1d1d1;
}

.menuBackButton {
  position: relative;
  background: white;
  width: 35px;
  height: 35px;
  cursor: pointer;

  top: 0;
  left: 0;
  padding: 0;
  transition: background 0.1s ease-in-out;

  outline: none;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 2px 8px #888888;

  background-image: url("../assets/backArrow.png");
  background-repeat: no-repeat;
  background-size: 17px;
  background-position: 11px;
}

.menuBackButton:hover {
  background: #f0f0f0;
  background-image: url("../assets/backArrow.png");
  background-repeat: no-repeat;
  background-size: 17px;
  background-position: 11px;
}

.menuBackButton:active {
  background: #d1d1d1;
  background-image: url("../assets/backArrow.png");
  background-repeat: no-repeat;
  background-size: 17px;
  background-position: 11px;
}

.optionButton {
  background: white;
  height: 35px;
  width: 245px;

  outline: none;
  border: none;
  border-radius: 8px;

  font-weight: 600;
  font-size: 14px;

  transition: background 0.2s;

  margin-bottom: 5px;

  cursor: pointer;
}

.optionButton:hover {
  background: #ff505080;
}

.optionButton:active {
  background: #ff5050;
}

.customListContainer {
  max-height: 250px;
  overflow-y: scroll;
}

.customListContainer::-webkit-scrollbar {
  width: 0px;
}

.jamListMessageBox {
  position: relative;
  background: white;
  width: calc(100% - 20px);
  height: 50px;
  margin: -5px 10px 10px 10px;
  border-radius: 6px;
  text-align: center;
  user-select: none;
}

.jamListMessageBox h1 {
  position: relative;
  font-size: 15px;
  top: 1px;
}

.jamListMessageBox h2 {
  position: relative;
  font-weight: 400;
  font-size: 12px;
  top: -4px;
}

.jamInfoBox {
  position: relative;
  background: white;
  width: calc(100% - 20px);
  height: 50px;
  margin: -5px 10px 10px 10px;
  border-radius: 6px;
  box-shadow: 0px 3px 8px #888888b9;
  transition: background 0.2s;
  cursor: pointer;
  text-align: left;
}

.jamInfoBox:hover {
  background: #f0f0f0;
}

.jamInfoBox:active {
  background: #d1d1d1;
}

.jamInfoBox h1 {
  position: relative;
  top: 8px;
  left: 10px;
  font-size: 15px;
}

.jamInfoBox h2 {
  position: relative;
  font-weight: 400;
  font-size: 12px;
  top: -2px;
  left: 10px;
}

#publicJamList {
  margin: 0;
  padding: 0;
}

#jamNameInput {
  background: #F0F0F0;
  text-align: center;

  height: 40px;
  font-weight: 600;
  font-size: 16px;

  padding: 0 10px 0 10px;

  border-radius: 10px;

  margin-bottom: 5px;
}

.jamSetup-sizeInput {
  position: relative;
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0 0 0;
}

.jamSetup-sizeInput h6 {
  position: relative;

  top: 0px;
  margin: 0 5px 0 5px;
  font-size: 14px;
}

.jamSetup-sizeInput input {
  position: relative;
  background: #F0F0F0;
  text-align: center;

  height: 30px;
  width: 50px;
  font-weight: 600;
  font-size: 14px;

  top: 3px;

  padding: 0 5px 0 5px;
  margin: 0 5px 0 5px;

  border-radius: 10px;

  margin-bottom: 5px;
}

.openJamButton {
  background: #ffffff;
  height: 40px;

  outline: none;
  border: none;
  border-radius: 10px;

  font-weight: 600;
  font-size: 16px;

  transition: background 0.2s;

  cursor: pointer;
}

.openJamButton:hover {
  background: #f0f0f0;
}

.openJamButton:active {
  background: #d1d1d1;
}

#jamMenuJamCode {
  position: relative;
  font-size: 14px;
  font-weight: 600;
  padding: 0;
  margin: 10px 8px 8px 8px;
}

@keyframes middle_to_left_fadeOut {
  0% { visibility: visible; transform: translateX(0px); opacity: 100;}
  100% { visibility: hidden; transform: translateX(-500px); opacity: 0;}
}

@keyframes right_to_middle_fadeIn {
  0% { visibility: visible; transform: translateX(500px); opacity: 0;}
  100% { visibility: visible; transform: translateX(0px); opacity: 100;}
}

@keyframes left_to_middle_fadeIn {
  0% { visibility: visible; transform: translateX(-500px); opacity: 0;}
  100% { visibility: visible; transform: translateX(0px); opacity: 100;}
}

@keyframes middle_to_right_fadeOut {
  0% { visibility: visible; transform: translateX(0px); opacity: 100;}
  100% { visibility: hidden; transform: translateX(500px); opacity: 0;}
}