@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: Roboto;
  color: #000000;
}

input {
  outline: none;
  border: none;
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {

}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Props */

.toggleOption {
  position: relative;
  font-size: 14px;
  font-weight: 600;
  padding: 0;
  margin: 8px;
  text-align: left;
  left: 10px;
  width: fit-content;
  cursor: default;
}

.toggleSwitch {
  position: relative;
  background: #C4C4C4;

  border-radius: 20px;
  cursor: pointer;

  width: 30px;
  height: 12px;

  float: right;
  top: 2px;
  right: 15px;

  justify-content: center;

  transition: background 0.3s;
}

.toggleSwitchCap {
  position: relative;
  background: #ffffff;

  border-radius: 40px;

  width: 8px;
  height: 8px;
  top: 2px;

  margin: 0 2px 0 2px;

  justify-content: center;

  transition: transform 0.2s ease;
}

/* Main Menu */

.mainPanel {
  background: #ffffff;
  width: 255px;

  padding: 10px 5px 10px 5px;

  box-shadow: 0px 3px 8px #888888;

  border-radius: 12px;

  transition: height 0.2s, width 0.2s;
}

.mainMenuButton {
  background: #ffffff;
  height: 55px;
  width: 245px;

  outline: none;
  border: none;
  border-radius: 10px;

  font-weight: 600;
  font-size: 18px;

  transition: background 0.2s;

  cursor: pointer;
}

.mainMenuButton:hover {
  background: #f0f0f0;
}

.mainMenuButton:active {
  background: #d1d1d1;
}

#mainMenuBack {
  position: absolute;
  font-size: 14px;
  font-weight: 600;

  top: 325px;
  left: 840px;
  cursor: pointer;

  transition: color 0.1s ease-in-out;
}

#mainMenuBack:hover {
  color: #3E8BFF;
}

/* Create Jam Menu */

#jamNameInput {
  background: #F0F0F0;
  text-align: center;

  height: 40px;
  font-weight: 600;
  font-size: 16px;

  padding: 0 10px 0 10px;

  border-radius: 10px;

  margin-bottom: 5px;
}

.openJamButton {
  background: #ffffff;
  height: 40px;

  outline: none;
  border: none;
  border-radius: 10px;

  font-weight: 600;
  font-size: 16px;

  transition: background 0.2s;

  cursor: pointer;
}

.openJamButton:hover {
  background: #f0f0f0;
}

.openJamButton:active {
  background: #d1d1d1;
}

#jamMenuJamCode {
  position: relative;
  font-size: 14px;
  font-weight: 600;
  padding: 0;
  margin: 10px 8px 8px 8px;
}

/* Jam Canvas */

#jamSideBar {
  position: fixed;
  width: 75px;
  height: 100%;

  background: #fff;

  border-radius: 0 10px 10px 0;

  box-shadow: 0px 3px 8px #888888;
}

.colorBox {
  position: relative;
  width: 45px;
  height: 45px;

  left: 0px;
  margin: 15px;

  border-radius: 8px;

  cursor: pointer;
}

#mainColorBox {
  background: #000;
}

/* Color Picker */

#colorPickerMenu {
  position: absolute;
  background: #fff;

  box-shadow: 0px 0px 8px #888888;

  width: 380px;
  height: 280px;

  left: 90px;
  top: 15px;

  border-radius: 10px;

  padding: 20px;
}

#colorChangers {
  width: 150px;
}

#colorPickerMenu {
  visibility: hidden;
  transform-origin: left center;
}

#huePickerCanv {
  border-radius: 5px;
}

@keyframes openColorPicker {
  0% { transform: scale3d(0.9, 0.9, 1); opacity: 0; }
  80% { transform: scale3d(1.01, 1.01, 1); opacity: 100; }
  100% { transform: scale3d(1, 1, 1); opacity: 100; }
}

@keyframes closeColorPicker {
  0% { transform: scale3d(1, 1, 1); opacity: 100; }
  100% { transform: scale3d(0.9, 0.9, 1); opacity: 0; }
}